.TimeDisplay {
    color: green;
    font-size: 80px;
}

.button {
    color: green;
    background-color: #98fb98;
    font-size: 200%;
    padding: 20px 40px;
    text-align: center;
}

body {
    background-color: #eafeea;
}
